/* GLOBAL ELEMENTS */
body {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 1em;
}
main {
    position: relative;
    height: 100vh;
    width: auto;
    background-color: #262626;
}
img { 
    user-select: none;
}

/* GLOBAL HEADER */
/* top <header> semantic element */
header.top-header {
    display: flex;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #191919;
}
/* top <header> img (french flag) */
/* future actions will operate on click */
header.top-header img {
    align-self: center;
    margin-left: 2.5vw;
    border: 2px solid rgba(235, 233, 255, 0.75);
    transition: transform 100ms linear;
}
header.top-header img:hover {
    transform: scale(1.1);
}
/* top <header> text */
header.top-header .header-text {
    align-self: center;
    margin: 0 0 0 15vw;
    color: rgb(255, 255, 255);
    font-family: 'Jost', sans-serif;
    font-size: 3em;
}
/* top <header> text link <a>*/
/* THEO'S THOUGHTS */
header.top-header h1 a {
    text-decoration: none;
    color: inherit; /* takes container's color (<h1>) */
    cursor: pointer;
}
/* top <header> navbar ul */
header.top-header ul {
    font-family: "Corben", sans-serif;
    font-size: 1.4em;
    color: rgb(229, 123, 255);
    align-self: center;
    margin-left: 5vw;
}
/* top <header> navbar ul items */
header.top-header ul li {
    display: inline;
    margin-right: 35px; /* list items spacing */
}
/* top <header> navbar ul items links <a> */
header.top-header ul a {
   color: rgb(229, 123, 255);
   text-decoration: transparent;
   transition: text-decoration 500ms ease;
}
/* top <header> navbar ul items links <a> hover event */
header.top-header ul li:hover a {    
    text-decoration: underline;
    color: rgb(156, 16, 190);
    cursor: pointer;
}