body {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 1em;
}

/* top <header> semantic element */
header.top-header {
    display: flex;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #191919;
}
/* top <header> semantic's element img (french flag) */
header.top-header img {
    align-self: center;
    margin-left: 2.5vw;
    border: 2px solid rgba(235, 233, 255, 0.75);
}
/* top <header> semantic element's text */
header.top-header .header-text {
    align-self: center;
    margin: 0 0 0 15vw;
    color: rgb(255, 255, 255);
    font-family: 'Jost', sans-serif;
    font-size: 3em;
}
/* top <header> navbar ul */
header.top-header ul {
    font-family: "Corben", sans-serif;
    font-size: 1.4em;
    color: rgb(229, 123, 255);
    align-self: center;
    margin-left: 5vw;
}
/* top <header> navbar ul items links <a> */
header.top-header ul a {
   color: rgb(229, 123, 255);
   text-decoration: none;
}
/* top <header> navbar ul items */
header.top-header ul li {
    display: inline;
    margin-right: 35px; /* list items spacing */
}
/* top <header> navbar ul items hover event */
header.top-header ul li:hover a {    
    text-decoration: underline;
    color: rgb(156, 16, 190);
    cursor: pointer;
}

/* <main> semantic element */
main {
    /* position is relative otherwise adding margin to the .home-intro
    division creates a blank gap between <main> and <div .home-intro> */
    position: relative;
    height: 100vh;
    width: auto;
    background-color: #262626;
}

/* home page introduction <div> */
.home-intro {
   /* border: 1px dashed red; */
   position: absolute;
   left: 50%;
   margin: 3% 0% 0% -25vw;
   width: 50vw;
   font-family: "Sniglet", sans-serif;
   font-size: 1.5em;
   color: rgb(230, 230, 230);
   text-shadow: -1px -1px black, -1px 1px black, 1px 1px black, 1px -1px black;
}
/* home page intro <div>'s <img> element */
.home-intro img {
    float: left;
    margin-right: 2.5%;
    width: 250px;
    height: 225px;
    /* border: 1px solid white; */
    border: 2px solid rgb(229, 123, 255);
    border-radius: 2%;
}
/* home page intro <div>'s <p> elements */
.home-intro p {margin-top: 0;}
.home-intro p:last-of-type {
    text-align: center;
    font-size: 2em;
}
footer {
    text-align: center;
    background-color: #262626; 
    color: white;
}